body {
    background-color: #4f4f4f;
    background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
}

.APIChallenge {
    margin: auto;
    margin-bottom: 15px;
    width: 75%;
    padding: 20px;
    text-align: center;
    font-size: 50px;
}

.searchDiv {
    border-radius: 20px;
    border-style: inset;
    border-width: 3px;
    border-color: gray;
    padding: 5px;
}
form {
    width: 50%;
    margin: auto;
    text-align: center;
    border-radius: 15px;
}

.searchResults {
    border-radius: 10px;
    width: 75%;
    height: 350px;
    margin: auto;
}


article {
    text-align: center;
    color: white;
    font-size: 20px;
}
article h1 {
    font-size: 50px;
}
